.start-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #293264;
}

.title {
    font-family: 'Karla';
}

.desc {
    font-family: 'Inter'; 
    margin-top: 1rem;  
    margin-bottom: 2rem;
}

.choose-btn {
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #F5F7FB;
    padding: 1rem 3.5rem;
    cursor: pointer;
}