.option {
    border: 1px solid #4D5B9E;
    border-radius: 0.5rem;
    font-family: 'Inter';
    font-size: 1rem;
    padding: 0.25rem 1rem;
    text-align: center;
    color: #293264;
    cursor: pointer;
}
@media (max-width: 1000px) {
    .option {
        width: 60%;
    }
}

.selected {
    background: #D6DBF5;
}

.incorrect {
    opacity: 0.5;
    background: #F8BCBC;
    border: none;
}

.check {
    opacity: 0.5;
}

.correct {
    background: #94D7A2;
    border: none;
}